/* ==|== common styles =====================================================
 Author: Xavi Rigau
 ========================================================================== */
COLOR_CONSTANTS { // TODO: Should change some names;
	color: /*light_gray*/#f5f5f5; /* background color and menu text color */
	color: /*hover_shadow*/#222222; /* titles shadow color and menu text and box shadow color */
	color: /*hover_green*/#669902; /* menu's selected item text color */
	color: /*dark_shadow*/#111111; /* menu's selected item shadow color */
	color: /*white*/#FFFFFF; /* hover text color */
	color: /*orange_selection*/#FF9200; /* selected text background */
	color: /*darker_gray*/#2a2a2a; /* titles text color */
	color: /*middle_gray*/#838383; /* h1 shadow color */
	color: /*middle_gray_2*/#939393; /* top title hover */
	color: /*red_hover*/#B69D9A; /* */
	color: /*black*/#000000; /* */
}

/* h1 text */
@font-face {
	font-family: 'League Gothic';
	src: url('../webfonts/League_Gothic-webfont.eot');
	src: url('../webfonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/League_Gothic-webfont.woff') format('woff'), url('../webfonts/League_Gothic-webfont.ttf') format('truetype');
}
/* Top menu, h2 & body text*/
@font-face {
	font-family: 'Sertig';
	src: url('../webfonts/sertig-webfont.eot');
	src: url('../webfonts/sertig-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/sertig-webfont.woff') format('woff'), url('../webfonts/sertig-webfont.ttf') format('truetype');
}

h3 {
	color: /*darker_gray*/#2a2a2a;
	font-size: 22pt;
	font-family: "League Gothic";
	text-transform: uppercase;
}

p {
	font-size: 16pt;
}

/*
 * Body styles (background, min-width, etc...)
 */
body {
	background: /*light_gray*/#f5f5f5;
	min-width: 714px;
	font-family: "Sertig";
	font-weight: normal;
	font-style: normal;
}

::-moz-selection {
	background: /*orange_selection*/#FF9200;
	color: /*white*/#FFFFFF;
	text-shadow: none;
}
::selection {
	background: /*orange_selection*/#FF9200;
	color: /*white*/#FFFFFF;
	text-shadow: none;
}


#div_header_img {
	position: absolute;
	top: -49px;
	left: 0;
	width: 100%;
	min-width: 1115px;
}

#header_image {
	margin: 0px;
	width: 100%;
	z-index: -10;
 	position: absolute;
 	min-width: 714px;
}


/*
 * Styles applied to #top_header. It's the div that contains the top logo and menu.
 */
#top_header {
	height: 49px;
	min-width: 714px;

	background-color: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, /*darker_gray*/#2a2a2a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,/*darker_gray*/#2a2a2a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3d3d3d 0%,/*darker_gray*/#2a2a2a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3d3d3d 0%,/*darker_gray*/#2a2a2a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3d3d3d 0%,/*darker_gray*/#2a2a2a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3d3d3d 0%,/*darker_gray*/#2a2a2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */

	top: 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	
	-webkit-box-shadow: 0 8px 6px -6px /*hover_shadow*/#222222;
	   -moz-box-shadow: 0 8px 6px -6px /*hover_shadow*/#222222;
	    -ms-box-shadow: 0 8px 6px -6px /*hover_shadow*/#222222;
	     -o-box-shadow: 0 8px 6px -6px /*hover_shadow*/#222222;
	        box-shadow: 0 8px 6px -6px /*hover_shadow*/#222222;
}

/*
 * Full-width header.
 */
header {
	width: 100%;
}

/*
 * Top navigation list styles.
 */
nav ul {
	height: 100%;
	float: right;
	position: relative;
	list-style: none;
	padding-right: 30px;
}

/*
 * Top navigation list elements styles.
 */
nav ul li {
	float: left;
	height: 100%;
}

/*
 * Div containing all the content of the page.
 */
#content {
	padding-top: 120px;
	width: 100%;
	min-height: 530px;
}

/*
 * Group of headers.
 */
hgroup {
	text-align: center;
	position: relative;
}

h1 {
	color: /*darker_gray*/#2a2a2a;
	font-size: 60pt;
	font-family: "League Gothic";
	text-shadow: /*middle_gray*/#838383 2px 3px 1px;
}

h2 {
	font-size: 26pt;
	color: /*darker_gray*/#2a2a2a;
}


/****************************************************************/
/******************** START OF nav_options SYLES  ********************/

/* nav_options properties (CSS3 transitions) */
.nav_options {
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 16px;
	padding-bottom: 9px;
	display: block;

	font-size: 17px;
	text-transform: uppercase;
	text-shadow: /*hover_shadow*/#222222 1px 1px 1px;
	color: /*light_gray*/#f5f5f5;
	text-decoration: none;

	border-bottom: 4px solid rgba(0,0,0,0);	
	-webkit-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
	   -moz-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
		-ms-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
		 -o-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
			transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
}

/* nav_options hover & focus */
.nav_options:hover, .nav_options:focus {
	color: /*hover_green*/#669902;
	text-shadow: /*hover_shadow*/#222222 1px 1px 1px;
	border-bottom: 4px solid/*hover_green*/#669902;
}

/* nav_options pressed */
.nav_options:active {
	padding-top: 17px;
	padding-bottom: 8px;
	color: /*hover_green*/#669902;
	text-shadow: /*dark_shadow*/#111111 1px 1px 1px;
	border-bottom: 4px solid/*hover_green*/#669902;
}

/* Change nav_options style if we are in its section */
#home_page #home .nav_options, #resume_page #resume .nav_options, #portfolio_page #portfolio .nav_options {
	color: /*hover_green*/#669902;
	text-shadow: /*dark_shadow*/#111111 2px 1px 1px;
	border-bottom: 4px solid/*hover_green*/#669902;
}

/********************* END OF nav_options SYLES  *********************/
/*********************************************************************/

/**************************************************************/
/******************** START OF title_text SYLES  ********************/

#title_text {
	font-size: 16pt;
	margin-left: 50px;
	float: left;
	color: /*light_gray*/#f5f5f5;
	text-shadow: /*hover_shadow*/#222222 1px 1px 1px;
	text-decoration: none;
	margin-top: 13px;

	-webkit-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
	   -moz-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
		-ms-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
		 -o-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
			transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.3s ease-in-out .1s;
}

#title_text:hover {
	color: /*middle_gray_2*/#939393;
}

/*******º************** END OF title_text SYLES  *********************/
/**************************************************************/

/*
 * Don't need to change the code below.
 */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
}/* IE6 */
*:first-child+ html .clearfix {
	zoom: 1;
}/* IE7 */



/************************************************************/
/********************** FOOTER STYLES ***********************/
#footer {
	min-width: 1120px;
}

footer {
	left: 0px;
	height: 150px;
	margin: 0px;
}

#pattern_footer {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 22px;
	background: url(../img/pattern_footer.gif) repeat-x;
	z-index: 12;
}

#footer_bg {
	top: 20px;
	left: 0px;
	width: 100%;
	height: 130px;
	z-index: 11;

	background-color: /*darker_gray*/#2a2a2a; /* Old browsers */
	background: -moz-linear-gradient(top, /*darker_gray*/#2a2a2a 0%, #3d3d3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, /*darker_gray*/#2a2a2a 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, /*darker_gray*/#2a2a2a 0%,#3d3d3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, /*darker_gray*/#2a2a2a 0%,#3d3d3d 100%); /* IE10+ */
	background: linear-gradient(to bottom, /*darker_gray*/#2a2a2a 0%,#3d3d3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
}
/****************** end of FOOTER STYLES ********************/
/************************************************************/








/********** ANIMATIONS ********/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
   @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-ms-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
     @-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
        @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
       -moz-animation:fadeIn ease-in 1;
        -ms-animation:fadeIn ease-in 1;
         -o-animation:fadeIn ease-in 1;
            animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
       -moz-animation-fill-mode:forwards;
        -ms-animation-fill-mode:forwards;
         -o-animation-fill-mode:forwards;
            animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.6s;
       -moz-animation-duration:0.6s;
        -ms-animation-duration:0.6s;
         -o-animation-duration:0.6s;
            animation-duration:0.6s;
}
 
.fade-in.zero {
	-webkit-animation-delay: 0.3s;
	   -moz-animation-delay: 0.3s;
	    -ms-animation-delay: 0.3s;
	     -o-animation-delay: 0.3s;
	        animation-delay: 0.3s;
}

.fade-in.one {
	-webkit-animation-delay: 0.4s;
	   -moz-animation-delay: 0.4s;
	    -ms-animation-delay: 0.4s;
	     -o-animation-delay: 0.4s;
	        animation-delay: 0.4s;
}

.fade-in.two {
	-webkit-animation-delay: 0.5s;
	   -moz-animation-delay: 0.5s;
	    -ms-animation-delay: 0.5s;
	     -o-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}

.fade-in.three {
	-webkit-animation-delay: 0.6s;
	   -moz-animation-delay: 0.6s;
	    -ms-animation-delay: 0.6s;
	     -o-animation-delay: 0.6s;
	        animation-delay: 0.6s;
}

.styled_link {
	color: /*darker_gray*/#2a2a2a;
	font-weight: bold;
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		 -o-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
}

.styled_link:hover {
	color: /*hover_green*/#669902;
}


#copyright {
	color: /*light_gray*/#f5f5f5;
	text-align: center;
	margin-top: 5px;
}

.contact_icon {
	width: 48px;
	height: 48px;
}

#contact_icons {
	padding-top: 15px;
	text-align: center;
}
